a.button{
  font-size:200%;
  margin:0px;
  text-decoration:none;
}
div.button{
  margin:30px auto;
  background-color:#3ccad9;
  padding:10px;
  color:#5b5fdbc2;
  text-align:center;
  border-color:#4bd9e8;
  cursor:pointer;
  border-style:outset;
}
div.head{
  display:block;
  background-color:#f1f1f1;
  padding:20px;
  text-align:center;
}
